/.idea
.gitignore
/cmake-build-debug
/Drivers
/MDK-ARM
/Middlewares
/Startup
.cproject
.project
.mxproject
*.ioc
*.lnk
SatelliteCLion.ioc
STM32H750VBTX_FLASH.ld
STM32H750VBTX_RAM.ld
/CMakeLists_template.txt
